.home {

    &__category {
        &-name {
            font-size: 42px;
            line-height: 40px;
            font-weight: 400;
            color: $text-color;
            margin-bottom: 100px;
            text-transform: capitalize;
        }
    }

    &__products {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px;

        &:after {
            content: ''
            ;
            flex: auto;
        }
    }

}

.notification-container {
    position: fixed;
    bottom: 50px;
    right: -400px;
    border: 1px solid #5ECE7B;
    padding: 15px 40px;
    font-size: 16px;
    font-weight: 500;
    color: #5ECE7B;
    pointer-events: none;
    transition: all .5s;

    &.active {
        right: 40px;
    }
}