.product {
    display: flex;
    justify-content: flex-start;

    &__thumbs {
        width: 100px;
        margin-right: 40px;
        flex-shrink: 0;
        height: 530px;
        overflow-y: auto;

        &::-webkit-scrollbar {
            width: 5px;
        }

        &::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        &::-webkit-scrollbar-thumb {
            background: #888;
            border-radius: 5px;
        }

        img {
            width: 80px;
            height: 80px;
            margin-bottom: 40px;
            object-fit: cover;
            cursor: pointer;
            transition: .3s;

            &:hover {
                filter: brightness(0.8);
                transform: scale(1.1);
            }

        }
    }

    &__img {
        max-width: 610px;
        width: 100%;
        height: 511px;
        flex-shrink: 0;
        margin-right: 100px;

        img {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }


    &__info {
        max-width: 292px;
        width: 100%;

        &-title {
            font-size: 27px;
            font-weight: 600;
            margin-bottom: 20px;
        }
    }

    &__params {
        &-title {
            text-transform: uppercase;
            font-family: "Roboto Condensed";
            font-weight: 700;
            font-size: 18px;
            margin-bottom: 8px;
        }

        &-disable {
          pointer-events: none;
          opacity: 0.7;
        }

        &-btns {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;


            .btn {
                width: 63px;
                height: 45px;
                font-size: 16px;
                font-weight: 400;
                text-transform: uppercase;
                margin-right: 8px;
                margin-bottom: 10px;

                &:disabled {
                    pointer-events: none;
                    opacity: 0.5;

                }

                &.selected {
                    background: $text-color;
                    color: $white
                }
            }



            margin-bottom: 10px;
        }

        &-swatch {
            .swatch-btn {
                height: 35px;
                width: 35px;
                margin-right: 10px;
                cursor: pointer;
                transition: .3s;
                border: 2px solid transparent;
                margin-bottom: 10px;

                &.selected {
                    border: 2px solid red;

                }

                &:hover {
                    opacity: 0.7;
                }
            }
        }


    }

    &__price {

        margin-bottom: 20px;

        &-title {
            text-transform: uppercase;
            font-family: "Roboto Condensed";
            font-weight: 700;
            font-size: 18px;
            margin-bottom: 10px;
        }

        span {
            font-weight: 700;
            font-size: 24px;
        }

    }

    .add-btn {
        width: 100%;
        height: 52px;
        margin-bottom: 20px;

        &:disabled {
            pointer-events: none;
            background-color: rgb(102, 102,
                    102);
            opacity: 0.5;
            border: none;
        }
    }

    &__desc {

        font-family: "Roboto";
        font-weight: 400;
        font-size: 16px;
        line-height: 25.5px;
        color: $text-color;
        height: 200px;
        overflow-y: auto;




        &::-webkit-scrollbar {
            width: 5px;
        }

        &::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        &::-webkit-scrollbar-thumb {
            background: #888;
            border-radius: 5px;
        }

        p {
            margin-bottom: 10px;
        }

        h1 {
            font-size: 18px;
            margin-bottom: 10px;
        }

        a {
            text-decoration: underline;
        }

        ul {
            li {



                ::before {
                    content: '';
                    display: inline-block;
                    transform: translateY(-30%);
                    width: 7px;
                    height: 7px;
                    margin-right: 5px;
                    background: $primary-color;

                }
            }
        }


    }

}